@use "sass:math";
@function px-to-rem($size) {
    @return math.div($size, 16) * 1rem;
  }

$font-common: 'Lato';
$header-text-color: #fff;
$menu-li-hover-color: #A9A9A9;
$main-background-color: #0E1D28;