@use 'sass:math';
@function px-to-rem($size) {
  @return math.div($size, 16) * 1rem;
}

$font-common: 'Lato';
$header-text-color: #fff;
$blue-text-color: #006dfe;
$title-text: #102746;
$menu-li-hover-color: #a9a9a9;
$main-background-color: #0e1d28;
