@import '../../css/variables/varibales.scss';

input {
	background: none;
	outline: none;
	box-shadow: none;
	border: none;
}

input:focus {
	outline: none;
}

::placeholder {
	color: $header-text-color;
	opacity: 1; /* Firefox */
}

.input {
	display: flex;
	align-items: center;
	width: px-to-rem(300);
	height: px-to-rem(30);
	font-size: px-to-rem(18);
	border-bottom: 1px solid #fff;
	padding-bottom: px-to-rem(20);
	&-text {
        width: 100%;
		margin-left: px-to-rem(5);
		color: $header-text-color;
	}
}
