@import '../../css/variables/varibales.scss';

.header {
	&-nav-container {
		display: flex;
		justify-content: space-between;
		padding: px-to-rem(56) px-to-rem(190);
	}

	&-intro-background {
		position: absolute;
		width: 100%;
		z-index: -1;
	}

	&-nav {
		display: flex;
		font-size: px-to-rem(18);
		line-height: px-to-rem(24);
		color: $header-text-color;
	}
	&-nav-ul {
		justify-content: center;
		align-items: center;
		display: flex;
	}
	&-nav-ul-li {
		margin: 0 px-to-rem(82);
		list-style: none;
		cursor: pointer;
		transition: all 0.6s;
		&:hover {
			color: $menu-li-hover-color;
		}
	}
	&-inputs {
		display: flex;
		margin-left: px-to-rem(190);
	}
	&-inputs-with-margin{
		margin-left: px-to-rem(60);
	}
}

.header-text {
	color: $header-text-color;
	margin-left: px-to-rem(191);

	&-heading-title {
		font-size: px-to-rem(50);
	}

	&-heading-paragraph {
		width: px-to-rem(546);
		font-size: px-to-rem(16);
		line-height: px-to-rem(24);
	}
}
