@import '../../css/variables/varibales.scss';

.header {
	padding: px-to-rem(56) px-to-rem(190) 0 px-to-rem(190);
	&-nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-nav-container-is-sticky {
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: px-to-rem(56) px-to-rem(190);
		top: 0;
		left: 0;
		width: 100%;
		height: px-to-rem(120);
		z-index: 999;
		box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
		background-color: $main-background-color !important;
		animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	}

	&-intro-background {
		position: absolute;
		width: 100%;
		z-index: -1;
	}

	&-nav {
		display: flex;
		font-size: px-to-rem(18);
		line-height: px-to-rem(24);
		color: $header-text-color;
	}
	&-nav-ul {
		justify-content: center;
		align-items: center;
		display: flex;
	}
	&-nav-ul-li {
		margin: 0 px-to-rem(82);
		list-style: none;
		cursor: pointer;
		transition: all 0.6s;
		&:hover {
			color: $menu-li-hover-color;
		}
	}
	&-inputs {
		display: flex;
	}
	&-inputs-with-margin {
		margin-left: px-to-rem(60);
	}

	&-text {
		margin-top: px-to-rem(176);
		color: $header-text-color;

		&-heading-title {
			font-size: px-to-rem(50);
			margin-bottom: px-to-rem(22);
		}

		&-heading-paragraph {
			width: px-to-rem(546);
			font-size: px-to-rem(16);
			line-height: px-to-rem(24);
			margin-bottom: px-to-rem(60);
		}
	}
}
